<!-- <p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @chat.user_id %>
</p>

<p>
  <strong>Receiver:</strong>
  <%= @chat.receiver_id %>
</p>

<p>
  <strong>Firebase key:</strong>
  <%= @chat.firebase_key %>
</p>

<%= link_to 'Edit', edit_chat_path(@chat) %> |
<%= link_to 'Back', chats_path %>
 -->
<div id="root" style="height: 100%; position: relative;">
  <div class="layout" style="display: flex; flex-direction: column; height: 100%; flex-grow: 1; position: relative;">
    <!-- <div class="body" style=""> -->
      <!-- <div class="body_wrapper" style="position: absolute; top: 0; left: 0; bottom: 0; right: 0; height: 100%; display: flex; flex-direction: column; margin-right: 0;"> -->
        <!-- <div class="body-canvas" style="position: relative; flex-grow: 1;"> -->
          <div class="bodylist" style="overflow-x: auto; overflow-y: hidden; position: absolute; top: 0; bottom: 0;">
            <div class="lists" style="padding: 10px;height: 100%; display: inline-block;box-sizing: border-box; display: inline-flex;flex-direction: column;background-color: #dfe3e6;white-space: normal;">
<!-- <div class="container"> -->
  <!-- <h3 class=" text-center">Messaging</h3> -->
  <!-- <div class="messaging"> -->
    <!-- <div class="inbox_msg"> -->
      <!-- <div style="max-height: 8%"></div> -->
      <!-- <div class="mesgs"> -->
        <div style="position: relative;">
          <h2>21212</h2>
        </div>
        <div class="msg_history">
          <div class="incoming_msg">
            <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
            <div class="received_msg">
              <div class="received_withd_msg">
                <p>Test which is a new approach to have all
                  solutions</p>
                <span class="time_date"> 11:01 AM    |    June 9</span></div>
            </div>
          </div>
          <div class="outgoing_msg">
            <div class="sent_msg">
              <p>Test which is a new approach to have all
                solutions</p>
              <span class="time_date"> 11:01 AM    |    June 9</span> </div>
          </div>
          <div class="incoming_msg">
            <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
            <div class="received_msg">
              <div class="received_withd_msg">
                <p>Test, which is a new approach to have</p>
                <span class="time_date"> 11:01 AM    |    Yesterday</span></div>
            </div>
          </div>
          <div class="outgoing_msg">
            <div class="sent_msg">
              <p>Apollo University, Delhi, India Test</p>
              <span class="time_date"> 11:01 AM    |    Today</span> </div>
          </div>
          <div class="incoming_msg">
            <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
            <div class="received_msg">
              <div class="received_withd_msg">
                <p>We work directly with our designers and suppliers,
                  and sell direct to you, which means quality, exclusive
                  products, at a price anyone can afford.</p>
                <span class="time_date"> 11:01 AM    |    Today</span></div>
            </div>
          </div>
        </div>
        <div class="type_msg">
          <div class="input_msg_write">
            <input type="text" class="write_msg" placeholder="Type a message" />
            <button class="msg_send_btn" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
          </div>
        </div>
      <!-- </div> -->
    <!-- </div> -->
    
    
    <!-- <p class="text-center top_spac"> Design by <a target="_blank" href="#">Sunil Rajput</a></p> -->
    
  <!-- </div> -->
<!-- </div> -->
            </div>
          </div>
        <!-- </div> -->
      <!-- </div> -->
    <!-- </div> -->
  </div>
</div>

<div id="message-form" data-firebase='<%= raw({ apiKey: ENV["firebase_apiKey"], authDomain: ENV["firebase_authDomain"], databaseURL: ENV["firebase_databaseURL"], projectId: ENV["firebase_projectId"], storageBucket: ENV["firebase_storageBucket"], messagingSenderId: ENV["firebase_messagingSenderId"] }.to_json) %>'>
  <% if true#!@chat_session.status.eql?('closed') %>
    <input id="value-msg"></input>
    <button id="adding">Add</button>
  <% end %>
</div>
<!-- <strong>Messages:</strong>
<div id="messages"></div>
 -->
<script>
  console.log('<%= raw({ apiKey: Rails.application.secrets.firebase_apiKey, authDomain: Rails.application.secrets.firebase_authDomain, databaseURL: Rails.application.secrets.firebase_databaseURL, projectId: Rails.application.secrets.firebase_projectId, storageBucket: Rails.application.secrets.firebase_storageBucket, messagingSenderId: Rails.application.secrets.firebase_messagingSenderId }.to_json) %>');
  console.log('<%= raw({ apiKey: ENV["firebase_apiKey"], authDomain: ENV["firebase_authDomain"], databaseURL: ENV["firebase_databaseURL"], projectId: ENV["firebase_projectId"], storageBucket: ENV["firebase_storageBucket"], messagingSenderId: ENV["firebase_messagingSenderId"] }.to_json) %>');
  function firebaseConfig() {
    var config = $('#message-form').data('firebase');
    return config
  }
  firebase.initializeApp(firebaseConfig());
  // signOut();

  var database = firebase.database();
  var refDb = database.ref('chats/job_request-11-10-903461171884c642d5f2/messages/')

  $('.msg_send_btn').on('click', function() {
    refDb.push({
      id: '<%= @current_user[:id] %>',
      name: '<%= @current_user[:email] %>',
      text: $('.write_msg').val(),
      time: "<%= Time.now.strftime('%D %H:%M:%S') %>",
      read: false
    })
  })

  const updateMessages = data => {
    console.log(data.val(), '<%= @current_user[:email] %>')
    var {id, name, text, time, read} = data.val()
    if (read) {
      read = '';
    } else {
      read = 'U';
    }

    if (id != '2') {
      // firebase.database().ref().child('<%#= @chat_session.provider_url %>/'+ data.key).update({read: true})
      // read = ''
    }

    let msgBlock = ''
    if (name == '<%= @current_user[:email] %>') {
      msgBlock += '<div class="outgoing_msg">';
      msgBlock += '<div class="sent_msg">';
      msgBlock += '<p>'+ text +'</p>';
      msgBlock += '<span class="time_date">'+ time +'</span> </div>';
      msgBlock += '</div>';
    } else {
      msgBlock += '<div class="incoming_msg">';
      msgBlock += '<div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>';
      msgBlock += '<div class="received_msg">';
      msgBlock += '<div class="received_withd_msg">';
      msgBlock += '<p>'+ text +'</p>';
      msgBlock += '<span class="time_date">'+ time +'</span> </div>';
      msgBlock += '</div>';
      msgBlock += '</div>';
    };

    $('.msg_history').append(msgBlock)
    $('#value-msg').val('')
  }

  const changeStatus = data => {
    $('#'+ data.key +' .read_status').remove()
  }

  function signIn(email, password){
    firebase.auth().signInWithEmailAndPassword(email, password).catch(function(error) {
      var errorCode = error.code;
      var errorMessage = error.message;
      console.log(errorMessage)
      if (errorCode === "auth/user-not-found") {
        signUp(email, password)
      } else {
        alert(errorMessage)
      }
    });
  };
  function signUp(email, password){
    firebase.auth().createUserWithEmailAndPassword(email, password).catch(function(error) {
      var errorCode = error.code;
      var errorMessage = error.message;
      if (errorCode !== null || errorCode !== undefined) {
        alert(errorMessage)
      }
    })
  };
  function signOut(){
    firebase.auth().signOut()
  };

  refDb.on('child_added', updateMessages)
  refDb.on('child_changed', changeStatus)
  aa = []
  refDb.once('value', function(snapshot) {
    // console.log(snapshot.val())
  })
</script>